@media(min-width: 250px){
video { 
      margin-top: -22px !important;
    position: fixed;
    left: 50%;
    min-width: 100%;
    width: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
}

@media(min-width: 1400px){
video { 
      margin-top: -23px !important;
}
}
@media(min-width: 1450px){
video { 
      margin-top: -24px !important;
}
}
@media(min-width: 1500px){
video { 
      margin-top: -25px !important;
}
}
@media(min-width: 1600px){
video { 
      margin-top: -26px !important;
}
}
@media(min-width: 1650px){
video { 
      margin-top: -27px !important;
}
}
@media(min-width: 1700px){
video { 
      margin-top: -28px !important;
}
}
@media(min-width: 1750px){
video { 
      margin-top: -29px !important;
}
}
@media(min-width: 1800px){
video { 
      margin-top: -30px !important;
}
}
@media(min-width: 1850px){
video { 
      margin-top: -31px !important;
}
}
@media(min-width: 1900px){
video { 
      margin-top: -32px !important;
}
}
@media(min-width: 1950px){
video { 
      margin-top: -33px !important;
}
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: transparent;
  color: white;
  padding: 0rem;
  width: 100%;
  margin:0rem;
  font-size: 1.2rem;
  margin-left: 50%; 
  transform:translate(-50%);
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 30%;
  padding: .2rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: transparent;
  color: #fff;
  border-radius: 5px; 
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}


#polina button:focus { 
    border:none !important;
}

#polina button:hover { 
   background: rgba(0,0,0,0.2);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  -webkit-transition: .6s background;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
/*
@media screen and (max-width: 500px) { 
  div{width:70%;} 
} */
@media screen and (max-device-width: 800px) {
  html { background: url(../images/img-intro.png) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

