<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Dashboard - SyxGem</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <meta name="csrf-token" content="{{ csrf_token() }}">

          <!-- Scripts -->
        <script>
        window.Laravel = {!! json_encode([
            'csrfToken' => csrf_token(),
        ]) !!};
        </script>

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />
		<link rel="shortcut icon" href="assets/images/syxgem-icon.ico">
		<!--<link rel="shortcut icon" href="../images/syxgem-icon.ico"> -->
		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/syx.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="index.html" class="navbar-brand">
						<small>
							<img src="assets/images/LOGO-SYXGEM-FINAL.png" height="35">
						</small>
					</a>
				</div>
				<div class="pull-right spacing-der">
					<span  class="log-reg log">
					@if (Auth::check())
						{{ Auth::user()->name }}
					  	@endif</span>
					
					<img src="assets/images/ICON-USER.png" height="45">
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar responsive ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

			
				<ul class="nav nav-list">
					<li class="active li-alt">
						<a href="index.html" class="lev">
							<span class="menu-text"> Syxgem </span>
								<img src="assets/images/ICON-SYXIMAGO.png" alt="" height="35" align="right">	
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-suitcase"></i>
							<span class="menu-text">
								Proyectos
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">

							<li class="">
								<a href="mis-proyectos.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Mis Proyectos
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="mis-tareas.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Mis Tareas
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="mi-calendario.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Mi Calendario
								</a>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="departamentos.html" class="level-0">
							<i class="menu-icon fa fa-building-o"></i>
							<span class="menu-text"> Departamentos </span>
						</a>
					</li>

					<li class="">
						<a href="cargos.html" class="level-0">
							<i class="menu-icon fa fa-calendar-check-o"></i>
							<span class="menu-text"> Cargos </span>
						</a>
						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="documentos.html" class="level-0">
							<i class="menu-icon fa fa-folder"></i>
							<span class="menu-text"> Documentos </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="li-alt">
						<a href="#" class="dropdown-toggle level-1">
							<span class="menu-text"> Chat </span>
							<i class="menu-icon fa fa-comments-o fa-lg"></i>							
							<b class="arrow fa fa-angle-down"></b>
						</a>
						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="chat-individual.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Individual
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="chat-grupal.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Grupal
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="li-alt">
						<a href="#" class="dropdown-toggle level-1">
							<span class="menu-text">
								Preferencias
							</span>
							<i class="menu-icon fa fa-cog fa-lg"></i>
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="idioma.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Idioma
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="perfil.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Perfil
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul><!-- /.nav-list -->

				
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs"></div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								<img src="assets/images/ICON-ACTIVIDADES.png" height="45">
								Actividades Recientes
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
								<div class="col-xs-12">
								<p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Soluta quam, ab earum dicta quae consequuntur illo voluptate!
								 Atque, aliquam rerum minus? Hic odio praesentium quod nihil 
								 voluptatem eos, cum itaque? Lorem ipsum dolor sit amet, 
								 consectetur adipisicing elit. 
								 Consequatur velit exercitationem veniam impedit soluta sit 
								 distinctio ipsa ex voluptatum, nulla ut sunt, nobis, nostrum 
								 delectus adipisci consequuntur, ullam eligendi. Voluptatibus.
								 </p>
								 <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
									 Dolorem earum dolores eligendi eveniet? Maxime ex adipisci 
									 necessitatibus? Corporis, maiores explicabo ducimus, eius 
									 consequatur earum enim accusamus totam ipsa dicta quaerat. 
								</p>
								<p align="justify">Lorem ipsum dolor sit amet, consectetur 
									adipisicing elit. In perferendis ipsam nam aperiam maiores 
									magni consequuntur similique, amet impedit voluptas neque, 
									alias enim? Praesentium quos aut dolor excepturi deserunt 
									asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing 
									elit. Quos minus tenetur numquam culpa, optio, recusandae tempore 
									delectus perspiciatis non? Reprehenderit sequi, vero dolorum 
									voluptatibus nulla praesentium ab? Architecto, non dignissimos. </p>
								</div>
							</div>
			</div><!-- /.main-content -->

			<footer class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="purple bolder">SyxGem</span>
							Application &copy; 2017
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<span>
									<img src="assets/images/ICON-FOLLOW5.png" alt="" height="30">
								</span>
							</a>

							<a href="#">
								<img src="assets/images/ICON-FOLLOW4.png" alt="" height="30">	
							</a>

							<a href="#">
								<img src="assets/images/ICON-FOLLOW3.png" alt="" height="30">
							</a>
						</span>
					</div>
				</div>
			</footer>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/syx.min.js"></script>
	</body>
</html>
