body {
    padding-top: 0px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #222;
    background-color: rgba(172, 34, 146, 0.4);
	text-align:center;
	height: 48px;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding-top: 9px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    font-size: 18px;
    background: #AC2292;
    padding: 8px 0px;
    color: white;
}

.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.fond{
  background-image: url(../images/slide_1.jpg); 
  height: auto;
}

@media(min-width:200px){
.col-xs-12.js-fullheight.slider-text.animated.fadeInUp.cont-form{
	margin-left: calc(0%);
	margin-top: 40px;
}
li#fond-lo-q-nec{
	background-image: url(../images/FONDO-HOME1.jpg); 
	background-repeat: no-repeat; 
	background-size: auto 100%;
}
button.btn.dropdown-toggle.btn-default {
    height: 35px;
    border-radius: 0;
    padding-top: 10px !important;
}
input.reg[type="text"], input.reg[type="email"], input.reg[type="password"] {
    height: 35px !important;
}
.label-reg{
	font-size: 15px !important;
}
.form-group.form-log-reg.reg2 {
    margin-bottom: 0px !important;
    text-align: left;
}
.options-menu{
	padding-left: 0px;
    padding-right: 0px;
    font-size: 17px !important;
}
li.fondo-section-1.flex-active-slide{
	margin-top: 98px;
	background-repeat: no-repeat;
	height: 644px !important;
}
}

@media(min-width:768px){
.img-logo-reg{
    position: absolute;
    top: 100%;
    transform: translateY(-40px);
}
.img-logo-reg-2 {
    position: absolute;
    top: 100%;
    transform: translateY(-40px);
}
.options-menu{
    font-size: 12px !important;
    padding-right: 30px;
}
.col-sm-8{
	padding-left: 0px;
}
.padding-top{
	padding-top: 35px;
}
input.reg[type="text"], input.reg[type="email"], input.reg[type="password"] {
    height: 35px !important;
}
.label-reg{
	font-size: 20px !important;
}
.form-group.form-log-reg.reg2 {
    margin-bottom: 12px !important;
}
}


@media(min-width:992px){
.options-menu{
    font-size: 19px !important;
}
.img-logo-reg {
   transform: translate(40%, 12%);
   height: 210px !important;
   width: 210px !important;
}
.img-logo-reg-2 {
   transform: translate(40%, 12%);
   height: 210px !important;
   width: 210px !important;
}
}

@media(min-width:1200px){
li#fond-lo-q-nec{
	background-image: url(../images/FONDO-HOME1.jpg); 
	background-repeat: no-repeat; 
	background-size: 100% 100%;
}
.options-menu{
    font-size: 20px !important;
}
.padding-1 {
    padding-top: 50px;
}
.padding-1a {
    padding-bottom: 63px;
}
.padding-2 {
    padding-top: 0px;
    padding-bottom: 15px;
}
.img-logo-reg {
    transform: translate(71%, 24%);
    }
.img-logo-reg-2 {
    transform: translate(71%, -93%);
}
}

.form-group.form-log-reg {
    margin-bottom: 12px !important;
    text-align: left;
}

ul.items-footer{
	margin-bottom: 30px !important;
}


h3.section-title{
	margin-bottom: 10px !important;
}

form#register-form {
    font-family: "Comfortaa-Regular";
}

input#username:focus, input#password:focus, input#email:focus, input#confirm-password:focus {
    border: 2px solid purple;
}

.forgot-password:hover, .forgot-password:focus {
    text-decoration: underline !important;
}


@media(min-width: 200px){
h1.title-pqs{
	color: #AC2292;
	font-size: 35px;
	text-align: center;
	padding: 30px 0px;
	font-family: "Comfortaa-Regular";
	font-weight: bold;
}
.col-sm-push-5 h1 {
    padding-top: 150px;
}
.btn-play{
	height: 100px;
}
.cont-form-home{
	height: 1220px !important;
}
.padding-form{
	padding: 0px 50px;
}
	h1.title-pqs{
	font-size: 35px;
	padding-top: 0px;
}
label {
    margin-bottom: 0px;
}
}

@media(min-width: 400px){
	.col-sm-push-5 h1 {
    padding-top: 200px;
}
}

@media(min-width: 607px){
	.col-sm-push-5 h1 {
    padding-top: 230px;
}
}

@media(min-width: 768px){
	label {
    margin-bottom: 5px;
}
.col-sm-push-5 h1 {
    padding-top: 130px;
}
button.btn.dropdown-toggle.btn-default {
    height: 45px;
    border-radius: 0;
}
	h1.title-pqs{
	font-size: 50px;
	padding-top: 70px;
}
.cont-int-purple-izq {
    background: #702B9D;
    height: 60px;
    transform: rotate(50deg);
    margin-left: -43px;
    margin-top: -23px;
}
.cont-int-purple-der {
    background: #702B9D;
    height: 60px;
    transform: rotate(-49deg);
    margin-left: 46px;
    margin-top: -22px;
}
.padding-form{
	padding: 0px 35px;
}
.btn-play{
	height: 345px;
}
.cont-form-home{
	height: auto !important;
}
.img-devices{
	margin-top: 60px;
}
}

@media(min-width: 800px){
.cont-int-purple-izq {
    margin-left: -43px;
}
.cont-int-purple-der {
    margin-left: 49px;
}
}
@media(min-width: 844px){
	.col-sm-push-5 h1 {
    padding-top: 180px;
}
}
@media(min-width: 850px){
.cont-int-purple-der {
    margin-left: 50px;
    transform: rotate(-50deg);
}
}

@media(min-width: 890px){
.cont-int-purple-der {
    margin-left: 53px;
}
}

@media(min-width: 992px){
.img-devices{
	margin-top: 20px;
}
.padding-form{
	padding: 0px 80px;
}
.cont-int-purple-izq {
    margin-left: -49px;
    margin-top: -31px;
    transform: rotate(56deg);
}

.cont-int-purple-der {
    margin-left: 59px;
    margin-top: -32px;
    transform: rotate(-58deg);
}
}

@media (min-width: 1060px){
	.cont-int-purple-der {
    margin-left: 62px;
    margin-top: -32px;
    transform: rotate(-58deg);
}
}

@media (min-width: 1100px){
.cont-int-purple-izq {
    margin-left: -51px;
}
}

@media (min-width: 1150px){
	.cont-int-purple-der {
    margin-left: 65px;
}
}

@media(min-width: 1200px){
.col-sm-push-5 h1 {
    padding-top: 200px;
}
.cont-int-purple-izq{
	 margin-left: -52px;
	 margin-top: -37px;
}

.cont-int-purple-der{
	margin-left: 65px; 
	margin-top: -38px;
}
li.fondo-section-1.flex-active-slide{
	margin-top: 98px;
	background-repeat: no-repeat;
	background-size: 100%;
}
}

@media(min-width: 1300px){

.cont-int-purple-izq{
	 margin-left: -54px;
	 margin-top: -37px;
}

.cont-int-purple-der{
	margin-left: 68px; 
	margin-top: -38px;
}
}


@media(min-width: 1350px){

.cont-int-purple-der{
	margin-left: 70px; 
	margin-top: -38px;
}
}

@media (min-width: 1370px){
	.cont-int-purple-izq {
    margin-left: -54px;
    margin-top: -40px;
}
.cont-int-purple-der {
    margin-left: 70px;
    margin-top: -43px;
}
}



@media(min-width: 1420px){

.cont-int-purple-izq{
	 margin-left: -56px;
	 margin-top: -37px;
}

.cont-int-purple-der{
	margin-left: 73px; 
	margin-top: -38px;
}
}

@media(min-width: 1500px){

.cont-int-purple-izq{
	 margin-left: -57px;
	 margin-top: -37px;
}

.cont-int-purple-der{
	margin-left: 75px; 
	margin-top: -38px;
}
}

@media(min-width: 1600px){

.cont-int-purple-izq{
	 margin-left: -60px;
	 margin-top: -37px;
}

.cont-int-purple-der{
	margin-left: 78px; 
	margin-top: -38px;
}
}

@media(min-width: 1700px){

.cont-int-purple-izq{
	 margin-left: -65px;
	 margin-top: -43px;
}

.cont-int-purple-der{
	margin-left: 82px; 
	margin-top: -45px;
}
}

@media(min-width: 1850px){

.cont-int-purple-izq{
	 margin-left: -65px;
	 margin-top: -49px;
}

.cont-int-purple-der{
	margin-left: 87px; 
	margin-top: -50px;
}
}

.cont-central{
	 background: #A12694; 
	 height: 40px;
}

.cont-tlqn{
	position: absolute;
	z-index: 999;
}

.btn-aprende:hover, .btn-aprende:focus{
 color: white !important;
 background:#AC2292 !important; 
}

header{
	padding: 0em 0 !important;
    background: white;
    position: fixed;
    z-index: 999;
    width: 100%;
}


p, h3{
	font-family: "Comfortaa-Regular";
}

p.texts{
	text-align: justify;
	font-size: 15px !important;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 20px;
}

.cont{
	padding:0px 50px;
}

.padding-row{
	padding-top: 55px;
}

.cont-ext-purple{
	 background: #702B9D; 
	 height: 40px;
}

#fh5co-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
    height: auto !important;
}

#fh5co-hero {
    margin-bottom: 0em !important;
    min-height: 700px;
    background: #fff url(../images/loader.gif) no-repeat center center;
    height: auto !important;
}

.icon-red{
	width: 58px !important;
	display: inline !important;
}
/*
.img-logo-reg{
	margin-right: -60px;
	margin-bottom: -15px;
} */

/*Input Date*/

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, 
.bootstrap-iso form{
	font-family: Arial, Helvetica, sans-serif; 
	color: black;
	}

.bootstrap-iso form button, .bootstrap-iso form button:hover{
	color: white !important;
	} 

.asteriskField{
	color: red;
}
/*end Input Date*/

.radio input[type="radio"]{
    position: absolute;
    margin-left: -15px !important;
    margin-top: 4px \9;
}

input[type="radio"]{
    margin: 12px 0 0 !important;
    margin-top: 1px \9;
    line-height: normal;
}

.radio label {
    font-weight: bold !important;
}
ul.dropdown-menu.inner li:after{
    position: relative !important;
    z-index: 99;
}

  li[data-original-index]{
        height: auto !important;
    min-height: auto !important;
}

span {
    margin-bottom: 0 !important;
}

.form-control {
    color: #222 !important;
    }

   .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #222 !important;
    font-family: "comfortaa-regular"
}

span {
   color: #222 !important;
   font-family: "comfortaa-regular"
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: rgba(172, 34, 146, 0.4) !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

::-webkit-scrollbar {
      width: 12px; /* para scroll vertical */
      height: 7px; /* para scroll horizontal */
}

::-webkit-scrollbar-track {
      background-color: #222;
} 

::-webkit-scrollbar-thumb {
      background-color: #702B9D;
      border-radius: 10px;
}
