@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Comfortaa-Regular";
  src: url(../fonts/Comfortaa-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Comfortaa-Light";
  src: url(../fonts/Comfortaa-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Comfortaa-Bold";
  src: url(../fonts/Comfortaa-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
*   Template Style 
* Edit this section
*
* ======================================================= */
body {
  font-family: "Karla", Arial, sans-serif;
  line-height: 1.8;
  font-size: 20px;
  background: #f0f0f0;
  background-image: url(images/photography.png);
  font-weight: 300;
  overflow-x: hidden;
}
body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

#fh5co-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#fh5co-wrapper > div {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

a {
  color: #FF847C;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: underline;
  color: #FF847C;
}
a:focus, a:active {
  outline: none;
}

p, span {
  margin-bottom: 1.5em;
  font-size: 18px;
  color: #727272;
  font-weight: 300;
  font-family: "Karla", Arial, sans-serif;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::-moz-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

#fh5co-page {
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background: #fff;
}
.menu-show #fh5co-page {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

#fh5co-main-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1002;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  overflow-y: scroll;
}
#fh5co-main-nav .fh5co-nav-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 0;
  padding: 0 !important;
  visibility: hidden;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-main-nav .fh5co-nav-toggle:hover {
  background: rgba(0, 0, 0, 0.7);
}
#fh5co-main-nav .fh5co-nav-toggle i {
  top: 19px !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0;
  text-indent: 0;
}
#fh5co-main-nav .fh5co-nav-toggle.show {
  visibility: visible;
  opacity: 1;
}
.menu-show #fh5co-main-nav {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#fh5co-main-nav ul {
  text-align: center;
  padding: 50px 0 50px 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul {
    padding: 20px 0 0 0;
  }
}
#fh5co-main-nav ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: "Playfair Display", Arial, serif;
}
#fh5co-main-nav ul li a {
  display: block;
  width: 100%;
  color: black;
  font-size: 30px;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul li a {
    font-size: 30px;
    padding: 10px 0;
  }
}
#fh5co-main-nav ul li a:hover, #fh5co-main-nav ul li a:active, #fh5co-main-nav ul li a:focus {
  color: rgba(0, 0, 0, 0.7);
  outline: none;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul li {
    display: block;
  }
}

.fh5co-table {
  display: table;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-table {
    display: block !important;
    height: inherit !important;
    width: inherit !important;
  }
}
.fh5co-table .fh5co-table-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .fh5co-table .fh5co-table-cell {
    display: block !important;
    height: inherit !important;
    width: inherit !important;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Karla", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
  color: #fff !important;
}

.btn-primary {
  background: #FF847C;
  color: #fff;
  border: 2px solid #FF847C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ff9c96 !important;
  border-color: #ff9c96 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #FF847C;
  border: 2px solid #FF847C;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #FF847C;
  color: #fff !important;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.view-button .btn-outline {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}
.view-button .btn-outline:hover, .view-button .btn-outline:focus, .view-button .btn-outline:active {
  background: #fff !important;
  color: #000 !important;
  border: 2px solid #000 !important;
}

header {
  padding: 3em 0;
}
@media screen and (max-width: 768px) {
  header {
    padding: 2em 0;
  }
}
header .fh5co-navbar-brand {
  float: left;
  width: 100%;
  position: relative;
}
header .fh5co-navbar-brand h1 {
  width: 100%;
  float: left;
  display: block;
  font-family: "Karla", Arial, sans-serif;
}
header .fh5co-navbar-brand .fh5co-logo {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 4px;
  border: 2px solid #000;
  padding: 5px 20px;
}
header .fh5co-navbar-brand .fh5co-logo:hover {
  text-decoration: none !important;
  color: #000 !important;
}
header .fh5co-navbar-brand .fh5co-logo:active, header .fh5co-navbar-brand .fh5co-logo:focus {
  outline: none;
  text-decoration: none;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
  position: absolute !important;
  top: 0;
  right: 0;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}
.menu-show .fh5co-nav-toggle i {
  background: #fff;
  color: #fff;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-show .fh5co-nav-toggle i::before, .menu-show .fh5co-nav-toggle i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  float: right;
  z-index: 1003;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
  }
}

#fh5co-hero {
  margin-bottom: 5em;
/*  min-height: 700px; */
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#fh5co-hero .btn {
  font-size: 24px;
  position: relative;
    z-index: 99999;
}
#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
li.fond {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}
li.fond:after {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#fh5co-hero .flexslider .flex-control-nav {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .flex-control-nav {
    bottom: -15em;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-hero .flexslider .flex-control-nav {
    bottom: -10em;
  }
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  height: 700px;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text {
    text-align: center;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner p .btn:hover {
  color: #fff !important;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner span {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

#fh5co-contact-section,
#fh5co-services-section,
#fh5co-work-section,
#fh5co-product-section,
#fh5co-about-section,
#fh5co-map-section {
  padding-bottom: 7em;
}

#fh5co-intro-section {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.intro-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .intro-heading {
    font-size: 30px;
  }
}

.work, .product {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}
.work .view, .product .view {
  width: 100%;
  height: 400px;
  display: table;
  opacity: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .work .view, .product .view {
    opacity: 1;
  }
}
.work .view span, .work .view i, .product .view span, .product .view i {
  height: 400px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.work h3, .product h3 {
  margin-top: 30px;
}
.work h3 a, .product h3 a {
  color: #000;
}
.work:hover .view, .work:focus .view, .product:hover .view, .product:focus .view {
  opacity: 1;
}

.product {
  margin-bottom: 0;
}
.product .view i {
  font-size: 18px;
}

.prod {
  margin-bottom: 30px;
}
.prod h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}
.prod h3 a {
  color: #000;
}

.fh5co-counters {
  padding: 3em 0;
  background: #e6e6e6;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.fh5co-counters .heading-section h2 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.fh5co-counters .fh5co-counter {
  font-size: 60px;
  display: block;
  color: #fff;
  font-family: "Karla", Arial, sans-serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}
.fh5co-counters .fh5co-counter-label {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}

.services {
  position: relative;
  padding: 30px;
  margin-top: 60px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.services .icon {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  margin-top: -80px;
}
.services .icon span {
  display: table;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.services .icon span i {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .services {
    margin-bottom: 5em;
  }
}

.about-content {
  margin-bottom: 5em;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
}
.fh5co-staff img {
  width: 170px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #727272;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #727272;
}
.contact-info li a {
  color: #727272;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  font-family: "Comfortaa-Regular";
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4em 0;
}
#footer h3 {
  font-size: 18px;
  font-weight: 400;
}
#footer ul {
  margin: 0;
  padding: 0;
}
#footer ul li {
  font-size: 18px;
  list-style: none;
  margin-bottom: 0;
}
#footer ul li a {
  color: #727272;
}
#footer .float {
  width: 50%;
  float: left;
}
@media screen and (max-width: 768px) {
  #footer .float {
    width: 100%;
  }
}
#footer .copy-right {
  padding-top: 4em;
}
#footer a {
  color: black;
}
#footer a:hover, #footer a:focus {
  text-decoration: none;
  color: #FF847C;
}

.fh5co-social-icon a {
  padding: 0 5px;
}
.fh5co-social-icon a i {
  color: #000;
}
.fh5co-social-icon a:hover, .fh5co-social-icon a:focus {
  text-decoration: none;
}

.heading-section {
  margin-bottom: 3em;
}
.heading-section h2 {
  font-size: 34px;
  font-weight: 300;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */


.icon-logo-syxgem{
  width: 220px;
}

.fh5co-nav-toggle i {
    background: #AC2292;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    background: #AC2292 !important;
  }

.fh5co-nav-toggle {
    border: 2px solid #AC2292;
    padding: 0px 8px 8px 10px;
    border-radius: 30px;
  }

  #fh5co-main-nav .fh5co-nav-toggle {
    background-color: 
  }

  ul.options-menu{
    list-style:none;
  }

  ul.options-menu li{
    display: inline;
    padding: 0px 10px;
    color: #AC2292;
    line-height: 87px;
  }

  header {
    padding: 0em 0 !important;
}

.text-align {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 10px;
}

.margin-top{
  margin-top: 20px;
}

#fh5co-main-nav .fh5co-nav-toggle {
    background: transparent !important;
  }

  #fh5co-hero {
    margin-bottom: 0em !important;
    min-height: 700px;
    background: #fff url(../images/loader.gif) no-repeat center center;
}

footer {
    background: #AC2292;
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2em 1em 0em 0 !important;
}

#footer .copy-right {
    padding-top: 2em !important;
}

a.option-menu{
  font-family: "Comfortaa-Regular";
  color: #AC2292;
}

a.option-menu:hover{
  color: purple;
  text-decoration: none !important;
  font-weight: bold;
}

a.option-menu:focus{
  color: #AC2292;
}

h3.section-title {
    color: white;
    font-family: "Comfortaa-Bold";
}

ul.items-footer{
  font-family: "Comfortaa-Light";
}

ul.items-footer li a{
  font-size: 15px;
}

ul.items-footer li a:hover{
  color: black !important;
  font-weight: bold;
}

@media(min-width: 200px){
  ul.options-menu li {
    display: inline;
    padding: 0px 10px;
    color: #AC2292;
    line-height: 12px;
}
}

@media(min-width: 768px){
  ul.options-menu li {
    line-height: 87px;
}
}


form#login-form{
  font-family: "Comfortaa-Regular";
}

.btn-ing{
  font-family: "Comfortaa-Regular";
  background: -webkit-linear-gradient(top, #7A2698, #AF2093);
  background: -moz-linear-gradient(top, #7A2698, #AF2093);
  color: white !important;
  text-transform: capitalize !important;
  margin-bottom: 12px;
  border-radius: 5px;
  font-size: 20px !important;
}

p.forgot-password{
  color: #AF2093 !important;
  font-size: 14px !important;
  text-decoration: none !important;
  margin-bottom: 0px !important;
  font-family: "Comfortaa-Bold";
}

p.forgot-password:hover{
  color: #222;
  text-decoration: none !important;
}

a.ing-aqui{
  color: #702B9D;
}
a.ing-aqui:hover{
  color: #702B9D;
  font-weight: bold !important;
}

.panel-heading {
    padding: 0px 15px !important;
    }

    .panel.panel-login{
      background: rgba(255, 255, 255, 0.4);
    }

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

span.glyphicon-search{
  margin-bottom: 0px;
}

input.placeh-buscar{
  font-family: "Comfortaa-Regular";
  color: #222 !important;
}

input.placeh-buscar::-webkit-input-placeholder { color: pink; } /* WebKit */
input.placeh-buscar:-moz-placeholder { color: pink; } /* Firefox 18- */
input.placeh-buscar::-moz-placeholder { color: pink; } /* Firefox 19+ */
input.placeh-buscar:-ms-input-placeholder { color: pink; } /* IE 10+ */

span.glyphicon-search{
  color: #AF2093;
}

@media(min-width: 200px){
  #imaginary_container {
    margin-top: 0% !important;
    margin-bottom: 5%;
}
p.text-sig{
  color: white;
  font-family: "Comfortaa-Bold";
  margin-top: 0px;
  margin-bottom: 10px;
}
.col-sm-8.col-red-social{
  padding-left: 15px;
}
.icon-red-social{
     height: 35px;
    width: 35px;
    margin-right: 5px;
}
.col-xs-12.cont-redes{
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
}

@media(min-width: 768px){
  #imaginary_container {
    margin-top: 0% !important;
    margin-bottom: 15%;
}
p.text-sig{
  color: white;
  font-family: "Comfortaa-Bold";
  margin-top: -50px;
}
.col-md-8.col-red-social{
  padding-left: 30px;
}
.icon-red-social{
  height: 64px;
  width: 65px;
   margin-right: 12px;
}
.row.cont-text-footer{
  margin-bottom: 30px;
}
.col-md-2.space-bottom{
  margin-top: -40px;
}
.col-xs-12.cont-redes{
  padding-right: 30px;
}
.col-sm-8.col-red-social{
  padding-left: 40px;
}
}

@media(min-width: 992px){
.row.cont-text-footer{
  margin-bottom: 0px;
}
.col-md-2.space-bottom{
  margin-top: 0px;
}
}

.col-xs-8.fondo-left{
  background-color:#702B9D;
    text-decoration: none;
  
    font-weight: bold;
    text-shadow: 0 1px 0 black;
    /*intersección de bordes que crean la línea diagonal.*/
    border-right: 30px solid transparent;
    border-top: 100px solid #A12694;
    display: inline-block;
}

.col-xs-4.fondo-right{
  background-color: #702B9D;
  text-shadow: 0 1px 0 black;
}

.col-xs-8.fondo-left, .col-xs-4.fondo-right{
  color: white;
  height: 100px;
}

p.titles-1{
  margin-top: -100px;
}

.row.cont-text-img{
  padding-top: 50px;
  padding-bottom: 50px;
}

a:hover {
    background: transparent;
}

.btn-aprende{
  background-color: white;
  color: #A12694;
   font-family: "Comfortaa-Regular";
}

p.escribenos, label.label-home{
  color: #AC2292;
  font-family: "Comfortaa-Regular";
  font-weight: lighter;
  font-size: 18px;
}

p.escribenos{
  color: #702B9D;
}

input.input-home[type="text"], input.input-home[type="email"] {
    height: 40px !important;
    background: #FAD5F8 !important;
    border: 1px solid transparent !important;
}

textarea.input-home {
    background: #FAD5F8 !important;
    border: 1px solid transparent !important;
}

input[type="text"]:focus, input[type="email"]:focus {
    border: 2px solid #AF2093 !important;
}

textarea:focus {
    border: 2px solid #AF2093 !important;
}

.btn-enviar{
  font-family: "Comfortaa-Regular";
  background: -webkit-linear-gradient(top, #7A2698, #AF2093);
  background: -moz-linear-gradient(top, #7A2698, #AF2093);
  color: white !important;
  text-transform: capitalize !important;
  margin-bottom: 12px;
  border-radius: 5px;
  font-size: 20px !important;
  margin-top: 20px;
}

p.com{
  color: #7A2698;
  display: inline;
}

.cont-gestor{
  background: white; 
  padding-top: 50px;
}

.input-group-addon {
    padding: 7px 20px !important;
    }

a[href="login-registro.html"]:hover{
 text-decoration: none !important;
}

.font-tab-form{
  font-family: "Comfortaa-Regular" !important;
}

@media(min-width: 250px){
    p.titles-1, p.titles-2 {
    color: white;
    font-family: "Comfortaa-Bold";
    font-size: 17px;
    text-align: center;
}
    p.titles-1 {
    padding-top: 10px;
}
   p.titles-2 {
    padding-top: 6px;
    line-height: 21px;
}
.icon-logo-syxgem {
    width: 175px;
    margin-top: 5px;
}
.cont-form {
    margin-top: 210px !important;
}
.panel-login>.panel-heading a.active {
    font-size: 16px !important;
    background: #AC2292;
    padding: 10px 0px !important;
    color: white;
}
.panel-login>.panel-heading a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px !important;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    padding: 10px 0px;
}
li.fond {
    height: auto !important;
}
h2.text-video{
  text-align: center;
  font-family: "Comfortaa-Regular";
  color: white;
  font-size: 30px;
  margin-bottom: 0px !important;
}
h1.title-section-3 {
    font-family: "Comfortaa-Bold";
    color: #A12694;
    font-size: 30px !important;
    text-shadow: 0 1px 0 gray;
    text-align: center;
}
h1.title-need {
    color: white !important;
    font-family: "Comfortaa-Bold";
    font-size: 45px;
    text-transform: none;
    padding-left: 15px;
}
h2.title-gest-empr{
  font-family: "Comfortaa-Regular";
  color: #AC2292;
  text-align: center;
  font-weight: bold;
  font-size: 28px !important;
}
}

@media (min-width: 338px){
  h1.title-section-3 {
  font-size: 40px !important;
  text-shadow: 0 1px 0 gray;
}

.cont-form {
    margin-top: 190px !important;
}
}

@media (min-width: 344px){
  p.titles-1 {
    padding-top: 23px;
}
}

@media (min-width: 412px){
p.titles-2 {
    padding-top:6px;
}
}

@media (min-width: 436px){
  p.titles-2 {
    padding-top: 13px;
}
}

@media(min-width: 442px){
   p.titles-2 {
    line-height: 30px;
    padding-top: 18px;
}
}

@media (min-width: 500px){
 p.titles-1, p.titles-2 {
    font-size: 21px;
}
 p.titles-1 {
    padding-top: 18px;
}
 p.titles-2 {
      padding-top: 4px;
    line-height: 21px;
}
}

@media(min-width:507px){
  p.titles-2 {
    padding-top: 17px;
    line-height: 21px;
}
}

@media(min-width: 514px){
  p.titles-2 {
    padding-top: 14px;
    line-height: 35px;
}
}

@media (min-width: 590px){
 p.titles-1, p.titles-2 {
    font-size: 25px;
}
 p.titles-1 {
    padding-top: 10px;
}
 p.titles-2 {
    padding-top: 6px;
    line-height: 43px;
}
}

@media (min-width: 688px){
p.titles-1 {
    padding-top: 30px;
}
}

@media(min-width: 768px){
  h2.title-gest-empr{
  font-size: 40px !important;
}
p.text-section-3{
  font-family: "Comfortaa-Bold";
  text-align: justify;
  font-size: 15px;
}
h1.title-section-3 {
    font-size: 30px !important;
    text-shadow: 0 1px 0 gray;
}
  h1.title-need{
  font-size: 60px;
} 
  p.titles-1, p.titles-2{
  font-size: 28px;
  text-align: center;
}
    p.titles-1 {
    padding-top: 25px;
}
   p.titles-2 {
    padding-top: 5px;
}

.icon-logo-syxgem {
    width: 175px;
    margin-top: 5px;
}
h2.text-video{
  font-size: 40px;
  margin-bottom: 30px !important;
}
.cont-form{
  margin-top: 180px !important;
}
.panel-login>.panel-heading a.active {
    font-size: 18px !important;
    padding: 8px 0px !important;
}
.panel-login>.panel-heading a {
    font-size: 18px !important;
     padding-top: 9px;
}
}

@media(min-width: 992px){
  p.titles-1, p.titles-2{
  font-size: 35px;
  text-align: center;
  line-height: 42px;
}
.icon-logo-syxgem {
    width: 220px;
    margin-top: 0px;
}
h1.title-section-3 {
    font-size: 40px !important;
}
   p.titles-1 {
    padding-top: 30px;
}
   p.titles-2 {
    padding-top: 3px;
}
p.text-section-3 {
    font-size: 18px;
}
}

@media(min-width: 1200px){
  p.titles-1{
  line-height: 100px;
}
   p.titles-1 {
    padding-top: 0px;
}
   p.titles-2 {
    padding-top: 0px;
    line-height: 45px !important;
}
}

